$e: #000; $ee:#999;
$eee: #9999;
.oo{width:200px; height:200px; background: $ee;}
.sss{border:2px solid $ee;}
.ss{border:2px solid $ee;}
.ss{border:2px solid $ee;}
.s555s{border:2px solid $ee;}
.s555s{border:2px solid $ee;}
.s5sdsdss{border:2px solid $ee;}
.s55ss{border:2px solid $eee;}
.tttttt{border:2px solid $eee;}


