.oo {
  width: 200px;
  height: 200px;
  background: #999; }

.sss {
  border: 2px solid #999; }

.ss {
  border: 2px solid #999; }

.ss {
  border: 2px solid #999; }

.s555s {
  border: 2px solid #999; }

.s555s {
  border: 2px solid #999; }

.s5sdsdss {
  border: 2px solid #999; }

.s55ss {
  border: 2px solid #9999; }

.wwwwwww {
  border: 2px solid #9999; }
